@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  background: url(images/uwbackground.jpg) no-repeat center center fixed #6b6b6b;
  background-size: cover;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



.btn-purple-primary, .btn-purple-secondary {
  color: #ffffff;
} 

.btn-gold-primary, .btn-gold-secondary, .btn-gold-tertiary {
  color: #000000;
}

.bg-purple-primary, .btn-purple-primary {
  background-color: #32006e;
}

.bg-purple-secondary, .btn-purple-secondary {
  background-color: #4b2e83;
}

.bg-gold-primary, .btn-gold-primary {
  background-color: #e8e3d3;
}

.bg-gold-secondary, .btn-gold-secondary {
  background-color: #85754d;
}

.bg-gold-tertiary, .btn-gold-tertiary {
  background-color: #ffc700;
}

.txt-purple-primary {
  color: #32006e;
}

.txt-purple-secondary {
  color: #4b2e83;
}

.txt-gold-primary{
  color: #e8e3d3;
}

.txt-gold-secondary{
  color: #85754d;
}

.txt-gold-tertiary {
  color: #ffc700;
}